<div class="container">
    <!-- headers -->
    <h1>Mars Photo API</h1>

    <h2>Curiosity</h2>

    <!-- form  -->
    <form (ngSubmit)="!marsForm.invalid && loadIamges()" #marsForm="ngForm">
        <div class="form-group">
            <label for="days">Sol (Mars Solar Day)</label>
            <input #targetNumber="ngModel" type="number" id="days" name="day" [(ngModel)]="day" required="required" min="0">
            <div class="validation" *ngIf="targetNumber.dirty && targetNumber.invalid">Please enter a positive number</div>
        </div>

        <div class="form-group">
            <label for="camera">Camera</label>
            <select #targetCamera="ngModel" name="camera" id="camera" required="required" [(ngModel)]="camera">
                <option value="any">any</option>
                <option value="fhaz">fhaz</option>
                <option value="rhaz">rhaz</option>
                <option value="mast">mast</option>
                <option value="chemcam">chemcam</option>
                <option value="mahli">mahli</option>
                <option value="mardi">mardi</option>
                <option value="navcam">navcam</option>
                <option value="pancam">pancam</option>
                <option value="minites">minites</option>
            </select>
        </div>

        <div class="button">
            <button type="submit">Find Photos</button>
        </div>
    </form>

    <!-- loading images element -->
    <p class="loading" *ngIf="!photos && imgLoaded">Loading Images...</p>

    <!-- image body element -->
    <div class="images" *ngIf="photos">
        <p class="loading" *ngIf="photos.photos.length === 0">No images found with the search entered.</p>
        <img *ngFor="let photo of photos.photos" src="{{photo.img_src}}" alt="">

    </div>

    <!-- footer -->
    <footer class="footer">
        <p>Email: JaberJaber018@gmail.com</p>
    </footer>
</div>



<!-- <button (click)="test1()"> see imgLoaded</button> -->




<router-outlet></router-outlet>